.hero1
{
	   grid-column: 1/-1;
	   grid-row: 1;
	   background-color: #016ba9;
}

.hero2
{
	   grid-column: 1/-1;
	   grid-row: 5;
	   background-color: #016ba9;
}

.hero3
{
	   grid-column: 1/-1;
	   grid-row: 9;
	   background-color: #016ba9;
}

.hero4
{
	   grid-column: 1/-1;
	   grid-row: 13;
	   background-color: #016ba9;
}

.hero5
{
	   grid-column: 1/-1;
	   grid-row: 17;
	   background-color: #016ba9;
}

.hero-head
{
    color: white;
	padding-left: 10px;
	padding-right: 10px;
}

.intro
{
		grid-area: i;
}

.customers
{
        grid-area: u;
}

.service
{
        grid-area: s;
}

.employers
{
        grid-area: e;
}

.youth
{
        grid-area: y;
}

.intro-section
{
		grid-area: is;
		background-color: white;
		padding: 20px;
}

.customers-section
{
        grid-area: us;
		background-color: white;
		padding: 20px;
}

.service-section
{
        grid-area: ss;
		background-color: white;
		padding: 20px;
}

.employers-section
{
        grid-area: es;
		background-color: white;
		padding: 20px;
}

.youth-section
{
        grid-area: ys;
		background-color: white;
		padding: 20px;
}

.grid
{
        background-color: #fafafa;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto 100px auto 100px auto 100px auto 100px auto 100px auto 100px auto 100px auto 100px auto 100px auto 100px;
		grid-template-areas:
		"i i i i"
        ". . . ."
		"is is is is"
        ". . . ."
        "u u u u"
        ". . . ."
        "us us us us"
        ". . . ."
        "s s s s"
        ". . . ."
        "ss ss ss ss"
        ". . . ."
        "e e e e"
        ". . . ."
        "es es es es"
        ". . . ."
        "y y y y"
        ". . . ."
        "ys ys ys ys"
        ". . . .";
}

@media screen and (min-width: 500px)
{
	.grid
	{
			display: grid;
	    	grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: auto 100px auto 100px auto 100px auto 100px auto 100px auto 100px auto 100px auto 100px auto 100px auto 100px;
    		grid-template-areas:
    		"i i i i"
            ". . . ."
    		"is is is is"
            ". . . ."
            "u u u u"
            ". . . ."
            "us us us us"
            ". . . ."
            "s s s s"
            ". . . ."
            "ss ss ss ss"
            ". . . ."
            "e e e e"
            ". . . ."
            "es es es es"
            ". . . ."
            "y y y y"
            ". . . ."
            "ys ys ys ys"
            ". . . .";
	}
}

@media screen and (min-width: 1000px)
{
        .grid
        {
        	display: grid;
        	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: auto 100px auto 100px auto 100px auto 100px auto 100px auto 100px auto 100px auto 100px auto 100px auto 100px;
    		grid-template-areas:
    		". i i i i i i ."
            ". . . . . . . ."
    		". is is is is is is ."
            ". . . . . . . ."
            ". u u u u u u ."
            ". . . . . . . ."
            ". us us us us us us ."
            ". . . . . . . ."
            ". s s s s s s ."
            ". . . . . . . ."
            ". ss ss ss ss ss ss ."
            ". . . . . . . ."
            ". e e e e e e ."
            ". . . . . . . ."
            ". es es es es es es ."
            ". . . . . . . ."
            ". y y y y y y ."
            ". . . . . . . ."
            ". ys ys ys ys ys ys ."
            ". . . . . . . .";
        }

		.intro p
		{
			text-align: left;
		}
}
