.hero1
{
	grid-column: 1/-1;
	grid-row: 1;
    background-color: #00aaff;
}

.cal
{
    grid-area: c;
	padding-left: 0px;
	padding-right: 0px;
}

.intro
{
    grid-area: i;
    color: white;
	padding-left: 20px;
	padding-right: 20px;
}

.grid
{
    display: grid;
    grid-template-rows: auto 100px auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "i i i i"
    ". . . ."
    "c c c c";
}

@media screen and (min-width: 420px)
{
	.cal
	{
		padding-left: 40px;
		padding-right: 40px;
	}
}

@media screen and (min-width: 1000px)
{
    .grid
    {
        display: grid;
        grid-template-rows: auto 100px auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        " . i i i i i i . "
        " . . . . . . . . "
        " . c c c c c c . ";
    }
}
