.hero1
{
	grid-column: 1/-1;
	grid-row: 1;
    background-color: #00aaff;
}

.intro
{
    grid-area: i;
	padding-left: 20px;
	padding-right: 20px;
}

.intro h1
{
	color: white;
}

.contactList
{
    grid-area: cl;
    font-size: 12px;
}

.contactList table tbody
{

	 white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	 white-space: -pre-wrap;      /* Opera 4-6 */
	 white-space: -o-pre-wrap;    /* Opera 7 */
	 white-space: pre-wrap;       /* css-3 */
	 white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
     word-wrap: break-word;       /* Internet Explorer 5.5+ */
	 word-break: break-all;
	 white-space: normal;
}

.grid
{
    display: grid;
    grid-template-rows: auto 100px auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "i i i i"
    ". . . ."
    "cl cl cl cl";
}

@media screen and (min-width: 1000px)
{
    .grid
    {
        display: grid;
        grid-template-rows: auto 100px auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        " . i i i i i i . "
        " . . . . . . . . "
        " . cl cl cl cl cl cl . ";
    }

    .contactList
    {
    }

}
