.hero1
{
    grid-column: 1/-1;
    grid-row: 1;
    background-color: #00aaff;
}

.greet
{
    grid-area: g;
    padding-left: 20px;
}

.event-list h3
{
     white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
     white-space: -pre-wrap;      /* Opera 4-6 */
     white-space: -o-pre-wrap;    /* Opera 7 */
     white-space: pre-wrap;       /* css-3 */
     word-wrap: break-word;       /* Internet Explorer 5.5+ */
     white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
     word-break: break-all;
     white-space: normal;
}


.more-btn
{
    width: 30%;
    text-align: center;
}

.show-more-container
{
    text-align: center;
}

.call-btn
{
    margin-top: 20px;
}

.dash-header
{
    padding-left: 15px;
    padding-right: 15px;
}

.dashboard-control
{
    grid-area: d;
}

.dashboard-control ul li
{
    margin-left: 0px;
}

.dashboard-control ul li button
{
    width: 150px;
    padding: 7px;
    margin-right: 20px;
}

.control-area
{
    grid-area: a;
    background-color: white;
}

.grid
{
    background-color: #fafafa;
    display: grid;
    grid-template-rows: auto 100px auto auto 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "g g g g"
    ". . . ."
    "d d d d"
    "a a a a"
    ". . . .";
}

@media screen and (min-width: 1000px)
{
    .grid
    {
        display: grid;
        grid-template-rows: auto 100px auto auto 100px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        ". g g g g g g ."
        ". . . . . . . ."
        ". d d d d d d ."
        ". a a a a a a ."
        ". . . . . . . .";
    }
}
