.hero1
{
	grid-column: 1/-1;
	grid-row: 1;
	background-color: #016ba9;
}

.intro
{
    grid-area: i;
	padding-left: 20px;
	padding-right: 20px;
}

.intro h1
{
	color: white;
}

.jobListing
{
    grid-area: jl;
	font-size: 12px;
}

.jobListing table tbody td p
{
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
}

.grid
{
    background-color: #fafafa;
    display: grid;
    grid-template-rows: auto 100px auto 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "i i i i"
    ". . . ."
    "jl jl jl jl"
	". . . .";
}

@media screen and (min-width: 1000px)
{
    .grid
    {
        display: grid;
        grid-template-rows: auto 100px auto 100px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        " . i i i i i i . "
        " . . . . . . . . "
        " . jl jl jl jl jl jl . "
		". . . . . . . .";
    }

	.jobListing
	{
	    grid-area: jl;
		font-size: 1em;
	}
}
