body
{
    background-color: white;
}

nav
{
    margin-bottom: 0px;
}

footer
{
    background-color: #ededed;
    font-size: 12px;
}

h1, h2, h3, h4, h6
{
    font-family: 'Muli', sans-serif;
    color: #016ba9;
}

.event-btn
{
    margin-top: 20px;
}

.sub-event-btn
{
    margin-top: 20px;
}

.show-more-container
{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.more-btn
{
    width: 50%;
    text-align: center;
}

.form-error
{
	color: red;
}

.form-success
{
	color: green;
}

.input-error
{
	box-shadow: 0 0 5px red;
}

.navbar-nav
{
	align-items: baseline;
}

.nav-item
{
    padding-top: 20px;
    padding-right: 20px;
}

.footer-head
{
    color: black;
    padding-bottom: 20px;
}

.footerOne
{
    grid-area: one;
    padding: 20px;
}

.footerOne ul
{
    padding: 0px;
    list-style-type: none;
}

.footerTwo
{
    grid-area: two;
    padding: 20px;
}

.footerTwo ul
{
    padding: 0px;
    list-style-type: none;
}

.footerTwo ul li
{
    padding-bottom: 10px;
}

.footerThree
{
    grid-area: three;
    padding: 20px;
}

.footerCopy
{
    grid-area: c;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.footer-grid
{   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px auto auto auto 100px;
    grid-template-areas:
    ". . . ."
    "one one one one"
    "two two two two"
    "three three three three"
    "c c c c";
}

@media screen and (min-width: 1000px)
{
    .footer-grid
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px auto 100px;
        grid-template-areas:
        ". . . . . . . ."
        ". one one two three three three ."
        ". . . . . . . ."
        "c c c c c c c c";
    }

    .navbar-nav ul li
    {
        padding: 10px;
    }

    .nav-item
    {
        padding: 10px;
    }
}
