 @import url('https://fonts.googleapis.com/css?family=Muli|Open+Sans+Condensed:300');

body
{
    background-color: white;
}

nav
{
    margin-bottom: 0px;
}

footer
{
	text-align:center;
	background-color: #dcdcdc;
	margin-top: 0px;
}

h1, h2, h3, h4, h6
{
    font-family: 'Muli', sans-serif;
	color: #00aaff;
}

.show-more-container
{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.more-btn
{
    width: 50%;
    text-align: center;
}

.form-error
{
	color: red;
}

.form-success
{
	color: green;
}

.input-error
{
	box-shadow: 0 0 5px red;
}

.navbar-nav
{
	align-items: baseline;
}

.nav-item
{
    padding-top: 20px;
    padding-right: 20px;
}

@media screen and (min-width: 1000px)
{
	.navbar-nav ul li
	{
		padding: 10px;
	}

    .nav-item
    {
        padding-top: 0px;
    }
}
